pysqlite3
datetime
matplotlib
flask 
flask_mongoengine
flask_wtf
flask_login
python-dotenv
email_validator
pyjwt
flask-debugtoolbar
colorlog
flask_httpauth
flask_restx
flask_cors
vidgear
redis
minio==6.0.0
Pillow
numpy==1.19.0
opencv-python==4.2.0.34
tqdm==4.47.0
mongoengine==0.21
Cython==0.29.20
scikit-image==0.17.2
scikit-learn==0.22
greenlab-library
gdown
kthread
PyYAML
pandas
openpyxl
xlsxwriter
pymilvus
ffmpeg-python
posix-ipc
torch==1.6.0
torchvision==0.7.0
pyglrt
pydub
